In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../../csv_results/all_top30_models_result.csv')
df

    model_id      loss  accuracy
0          1  0.536147     0.875
1          2  0.827076     0.860
2          3  0.779805     0.830
3          4  0.961648     0.690
4          5  0.743614     0.830
5          6  0.950159     0.730
6          7  1.789137     0.520
7          8  1.294053     0.695
8          9  1.392980     0.680
9         10  1.480703     0.660
10        11  0.676074     0.825
11        12  0.515577     0.865
12        13  0.729846     0.810
13        14  1.039747     0.740
14        15  0.485753     0.840
15        16  1.716196     0.625
16        17  1.318975     0.780
17        18  1.719086     0.645
18        19  1.936671     0.650
19        20  1.774934     0.700
20        21  0.596852     0.880
21        22  1.033399     0.675
22        23  0.716990     0.820
23        24  0.777513     0.840
24        25  0.885719     0.755
25        26  1.655729     0.725
26        27  0.519716     0.880
27        28  1.767386     0.655
28        29  1.328427     0.625
29        30  1.411620     0.615

In [6]:
numbers = [65, 62, 68, 50, 56, 89, 74, 86, 91, 95, 1, 2, 11, 23, 7, 25, 40, 31, 46, 26, 113, 104, 116, 119, 98, 115, 110, 109, 134, 137]
mapping = {i+1: num for i, num in enumerate(numbers)}

df['true_id'] = df['model_id'].map(mapping)

sorted_df = df.sort_values(by=['accuracy'], ascending=[False])
sorted_df

    model_id      loss  accuracy  true_id
26        27  0.519716     0.880      110
20        21  0.596852     0.880      113
0          1  0.536147     0.875       65
11        12  0.515577     0.865        2
1          2  0.827076     0.860       62
14        15  0.485753     0.840        7
23        24  0.777513     0.840      119
2          3  0.779805     0.830       68
4          5  0.743614     0.830       56
10        11  0.676074     0.825        1
22        23  0.716990     0.820      116
12        13  0.729846     0.810       11
16        17  1.318975     0.780       40
24        25  0.885719     0.755       98
13        14  1.039747     0.740       23
5          6  0.950159     0.730       89
25        26  1.655729     0.725      115
19        20  1.774934     0.700       26
7          8  1.294053     0.695       86
3          4  0.961648     0.690       50
8          9  1.392980     0.680       91
21        22  1.033399     0.675      104
9         10  1.480703     0.660       95
27        28  1.767386     0.655      109
18        19  1.936671     0.650       46
17        18  1.719086     0.645       31
28        29  1.328427     0.625      134
15        16  1.716196     0.625       25
29        30  1.411620     0.615      137
6          7  1.789137     0.520       74