In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('./top3_freezes_models_result.csv')

In [12]:
# obtained from your spreadsheet
df['true_id'] = [67, 70, 91, 66, 90, 63, 92, 62, 86, 43, 19, 22, 3, 12, 24, 26, 41, 2, 118, 109, 115, 135, 114, 105, 116, 110, 113]
df

   model_id      loss  accuracy  true_id
0       f_1  3.914422  0.093349       67
1       f_2  4.105284  0.098016       70
2       f_3  3.762611  0.096849       91
3       f_4  0.291480  0.914819       66
4       f_5  1.315829  0.631272       90
5       f_6  0.561660  0.875146       63
6       f_7  1.399575  0.605601       92
7       f_8  1.080150  0.708285       62
8       f_9  1.732752  0.534422       86
9      f_10  4.568145  0.151692       43
10     f_11  2.786494  0.275379       19
11     f_12  3.204530  0.207701       22
12     f_13  0.519950  0.844807        3
13     f_14  0.817563  0.761960       12
14     f_15  2.233572  0.666278       24
15     f_16  1.217993  0.676779       26
16     f_17  1.343356  0.810969       41
17     f_18  0.932480  0.777130        2
18     f_19  3.339946  0.298716      118
19     f_20  3.824447  0.291715      109
20     f_21  3.344471  0.305718      115
21     f_22  1.530260  0.585764      135
22     f_23  0.614723  0.844807      114
23     f_24  1.456990  0.577596      105
24     f_25  2.166540  0.649942      116
25     f_26  2.194544  0.544924      110
26     f_27  1.156236  0.673279      113

In [13]:
sorted_df = df.sort_values('accuracy', ascending=False)
sorted_df

   model_id      loss  accuracy  true_id
3       f_4  0.291480  0.914819       66
5       f_6  0.561660  0.875146       63
12     f_13  0.519950  0.844807        3
22     f_23  0.614723  0.844807      114
16     f_17  1.343356  0.810969       41
17     f_18  0.932480  0.777130        2
13     f_14  0.817563  0.761960       12
7       f_8  1.080150  0.708285       62
15     f_16  1.217993  0.676779       26
26     f_27  1.156236  0.673279      113
14     f_15  2.233572  0.666278       24
24     f_25  2.166540  0.649942      116
4       f_5  1.315829  0.631272       90
6       f_7  1.399575  0.605601       92
21     f_22  1.530260  0.585764      135
23     f_24  1.456990  0.577596      105
25     f_26  2.194544  0.544924      110
8       f_9  1.732752  0.534422       86
20     f_21  3.344471  0.305718      115
18     f_19  3.339946  0.298716      118
19     f_20  3.824447  0.291715      109
10     f_11  2.786494  0.275379       19
11     f_12  3.204530  0.207701       22
9      f_10  4.568145  0.151692       43
1       f_2  4.105284  0.098016       70
2       f_3  3.762611  0.096849       91
0       f_1  3.914422  0.093349       67

In [16]:
sorted_df.to_csv('./top3_freezes_models_result_reindex.csv', index=False)

In [17]:
df2 = pd.read_csv('./all_top30_models_result.csv')

In [21]:
numbers = [66, 63, 69, 51, 57, 90, 75, 87, 92, 96, 2, 3, 12, 24, 8, 26, 41, 32, 47, 27, 114, 105, 117, 120, 99, 116, 111, 110, 135, 138]
mapping = {i+1: num for i, num in enumerate(numbers)}

df2['true_id'] = df2['model_id'].map(mapping)

sorted_df2 = df2.sort_values(by=['accuracy'], ascending=[False])
sorted_df2

    model_id      loss  accuracy  true_id
0          1  0.291479  0.914819       66
1          2  0.561660  0.875146       63
26        27  0.543832  0.851809      111
2          3  0.651648  0.849475       69
23        24  0.600610  0.849475      120
20        21  0.614723  0.844807      114
11        12  0.519950  0.844807        3
14        15  0.598405  0.834306        8
16        17  1.343356  0.810969       41
22        23  0.803302  0.791132      117
10        11  0.932480  0.777130        2
12        13  0.817563  0.761960       12
7          8  0.957672  0.730455       87
4          5  1.201620  0.684947       57
19        20  1.381532  0.679113       27
15        16  1.217993  0.676779       26
13        14  2.233571  0.666278       24
18        19  1.657023  0.666278       47
25        26  2.166540  0.649942      116
17        18  1.408416  0.645274       32
5          6  1.315829  0.631272       90
24        25  1.382402  0.625438       99
3          4  1.301872  0.611435       51
8          9  1.399575  0.605601       92
9         10  1.635071  0.593932       96
28        29  1.530260  0.585764      135
21        22  1.456990  0.577596      105
29        30  1.566426  0.555426      138
27        28  2.194544  0.544924      110
6          7  1.985511  0.430572       75

In [ ]:
sorted_df2.to_csv('./all_top30_models_result_reindex.csv', index=False)