In [8]:
import pandas as pd

df = pd.read_csv('./top_10.csv')
df = df.fillna("None")
df

,Model,Augmentasi,Freeze,Learning Rate,Layer,Optimizer,Result Train,Validation,Test,Test Loss,Time (min),Epoch
0,Inception,Yes,None,0.0001,1,Adam,0.9982,0.9961,1.0000,0.002035,38,14
1,Inception,No,None,0.0001,1,Adam,0.9991,0.9952,1.0000,0.004126,11,19
2,Inception,Yes,None,0.0010,1,Adam,0.9956,1.0000,0.9960,0.007950,74,27
3,Inception,Yes,None,0.0010,2,Adam,0.9949,0.9942,0.9960,0.009453,52,19
4,Inception,Yes,None,0.0010,1,SGD,0.9990,0.9903,0.9921,0.026240,65,23
5,Inception,Yes,None,0.0010,2,SGD,0.9996,0.9961,0.9901,0.031170,79,31
6,Inception,No,None,0.0010,1,SGD,0.9988,0.9952,0.9901,0.051310,28,50
7,Inception,No,None,0.0010,1,Adam,0.9882,0.9952,0.9901,0.047590,9,16
8,Inception,No,½,0.0010,2,Adam,0.9962,0.9903,0.9901,0.034430,5,17
9,Inception,No,None,0.0001,2,Adam,0.9941,1.0000,0.9901,0.035890,8,14
10,VGG,No,½,0.0010,1,SGD,0.9838,0.9903,0.9950,0.102300,22,44
11,VGG,No,½,0.0001,1,Adam,0.9971,1.0000,0.9950,0.015210,18,35
12,VGG,Yes,½,0.0010,1,SGD,0.9952,0.9942,0.9921,0.041960,62,30
13,VGG,Yes,None,0.0010,1,SGD,0.9871,0.9913,0.9921,0.025060,50,13
14,VGG,No,½,0.0010,2,SGD,0.9471,0.9855,0.9901,0.066400,19,39
15,VGG,No,½,0.0001,2,Adam,0.9927,0.9952,0.9901,0.027850,24,50
16,VGG,Yes,None,0.0001,2,SGD,0.9454,0.9826,0.9881,0.049810,185,50
17,VGG,Yes,None,0.0001,2,Adam,0.9931,0.9961,0.9851,0.073860,66,19
18,VGG,No,None,0.0010,1,SGD,0.9888,0.9807,0.9851,0.103400,26,28
19,VGG,Yes,½,0.0010,2,SGD,0.9918,0.9932,0.9842,0.066730,59,28
20,Xception,No,None,0.0010,1,Adam,0.9815,0.9855,1.0000,0.011620,10,9
21,Xception,Yes,None,0.0001,1,Adam,0.9992,0.9981,0.9970,0.010170,45,10
22,Xception,Yes,None,0.0010,2,SGD,0.9991,0.9865,0.9960,0.024700,221,50
23,Xception,Yes,None,0.0010,2,Adam,0.9912,0.9971,0.9931,0.025880,44,10
24,Xception,Yes,None,0.0001,2,Adam,0.9990,1.0000,0.9921,0.042700,83,19
25,Xception,Yes,None,0.0010,1,SGD,0.9994,0.9894,0.9911,0.030650,220,50
26,Xception,Yes,½,0.0010,2,Adam,0.9949,0.9981,0.9911,0.024470,37,13
27,Xception,No,None,0.0001,1,Adam,0.9982,0.9903,0.9901,0.022810,11,11
28,Xception,Yes,None,0.0010,1,Adam,0.9949,0.9971,0.9881,0.034800,52,12
29,Xception,Yes,½,0.0010,1,Adam,0.9920,0.9971,0.9871,0.041000,23,8

In [9]:
# Find top models

df_sorted = df.sort_values(by=['Model', 'Test', 'Time (min)', 'Validation'], ascending=[True,False,True,False])

# Get top 3 rows for each model
top_models = df_sorted.groupby('Model').head(3)

In [10]:
top_models

,Model,Augmentasi,Freeze,Learning Rate,Layer,Optimizer,Result Train,Validation,Test,Test Loss,Time (min),Epoch
1,Inception,No,None,0.0001,1,Adam,0.9991,0.9952,1.0000,0.004126,11,19
0,Inception,Yes,None,0.0001,1,Adam,0.9982,0.9961,1.0000,0.002035,38,14
3,Inception,Yes,None,0.0010,2,Adam,0.9949,0.9942,0.9960,0.009453,52,19
11,VGG,No,½,0.0001,1,Adam,0.9971,1.0000,0.9950,0.015210,18,35
10,VGG,No,½,0.0010,1,SGD,0.9838,0.9903,0.9950,0.102300,22,44
13,VGG,Yes,None,0.0010,1,SGD,0.9871,0.9913,0.9921,0.025060,50,13
20,Xception,No,None,0.0010,1,Adam,0.9815,0.9855,1.0000,0.011620,10,9
21,Xception,Yes,None,0.0001,1,Adam,0.9992,0.9981,0.9970,0.010170,45,10
22,Xception,Yes,None,0.0010,2,SGD,0.9991,0.9865,0.9960,0.024700,221,50

In [11]:
# based on my Sheet "Metopen Thingy"
ids = [6, 1, 3, 17, 16, 12, 29, 21, 22]

# Create a new DataFrame with ids
df_ids = pd.DataFrame(ids, columns=['id'])

# Add a new column 'id' to top_models DataFrame
top_models = pd.concat([top_models.reset_index(drop=True), df_ids], axis=1)

In [12]:
top_models

,Model,Augmentasi,Freeze,Learning Rate,Layer,Optimizer,Result Train,Validation,Test,Test Loss,Time (min),Epoch,id
0,Inception,No,None,0.0001,1,Adam,0.9991,0.9952,1.0000,0.004126,11,19,6
1,Inception,Yes,None,0.0001,1,Adam,0.9982,0.9961,1.0000,0.002035,38,14,1
2,Inception,Yes,None,0.0010,2,Adam,0.9949,0.9942,0.9960,0.009453,52,19,3
3,VGG,No,½,0.0001,1,Adam,0.9971,1.0000,0.9950,0.015210,18,35,17
4,VGG,No,½,0.0010,1,SGD,0.9838,0.9903,0.9950,0.102300,22,44,16
5,VGG,Yes,None,0.0010,1,SGD,0.9871,0.9913,0.9921,0.025060,50,13,12
6,Xception,No,None,0.0010,1,Adam,0.9815,0.9855,1.0000,0.011620,10,9,29
7,Xception,Yes,None,0.0001,1,Adam,0.9992,0.9981,0.9970,0.010170,45,10,21
8,Xception,Yes,None,0.0010,2,SGD,0.9991,0.9865,0.9960,0.024700,221,50,22

In [ ]:
top_models.to_csv('chosen_models.csv')